[submodule "notes"]
	path = notes
	url = https://github.com/infochimps-labs/ironfan.wiki.git
[submodule "knife/example-credentials"]
	path = knife/example-credentials
	url = https://github.com/infochimps-labs/example-credentials.git
